# Build artifacts
/build/
/out/
CMakeSettings.json
CMakeUserPresets.json

# IDEs
/.vs/
/.vscode/
*.sln
*.vcxproj
*.filters
*.user

# Databases and Runtime Logs
*.db
*.db-journal
*.db-wal
app_log.txt
*.csv
imgui.ini

# Temporary files
*.tmp
*.bak
test_headers.i
